.chat-shell {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: var(--primary-font-family);
  background-color: var(--primary-background-color-light-mode);
  position: relative;
  overflow: hidden;
}
