* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

:root {
        --primary-background-color-light-mode: #F5F5F5;
        --tertiary-background-color-light-mode:  #888888;
        --primary-background-color-dark-mode: #0B0D0E;
        --system-background-color: #942678;


        --primary-hover-color-light-mode: #E1E1E1;


        --primary-border-radius: 2vh;

        
        --primary-font-color-light-mode: #0B0D0E;
        --secondary-font-color-light-mode: #888888;
        --primary-font-color-dark-mode: #F5F5F5;
        --secondary-font-color-dark-mode: #888888;
        --system-font-color: #942678;


        --primary-font-family: Poppins, Arial, Helvetica, sans-serif;


        --primary-font-size: 15px;
        --tertiary-font-size: 13px;
        --secondary-font-size: 17px;
        --quaternary-font-size: 20px;
        --system-max-font-size: 48px;
        --system-min-font-size: 10px;


        --primary-font-weight: 600;
        --secondary-font-weight: 700;
        --tertiary-font-weight: bold;
}