* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

:root {
        --primary-background-color-light-mode: #F5F5F5;
        --secondary-background-color-light-mode: #D5D5D5;
        --tertiary-background-color-light-mode: #C3C3C3;
        --quaternary-background-color-light-mode:  #888888;
        --primary-background-color-dark-mode: #0B0D0E;
        --system-accent-color: #942678;
        --system-accent-dimmed-color: rgba(145, 38, 118, 0.2);


        --primary-hover-color-light-mode: #E1E1E1;
        --tertiary-hover-color-light-mode: rgba(255, 68, 0, 0.2);


        --primary-border-radius: 2vh;

        
        --primary-font-color-light-mode: #0B0D0E;
        --secondary-font-color-light-mode: #888888;
        --tertiary-font-color-light-mode: #F5F5F5;
        --primary-font-color-dark-mode: #F5F5F5;
        --secondary-font-color-dark-mode: #888888;
        --system-font-color: #942678;


        --primary-font-family: Poppins, Arial, Helvetica, sans-serif;


        --primary-font-size: 14px;
        --secondary-font-size: 16px;
        --tertiary-font-size: 12px;
        --quaternary-font-size: 18px;
        --system-max-font-size: 48px;
        --system-min-font-size: 10px;


        --primary-font-weight: 600;
        --secondary-font-weight: 700;
        --tertiary-font-weight: bold;
}