.chat-shell .pop-up .settings .main .profile {
        display: grid;
        gap: 2vh;
        color: var(--primary-font-color-light-mode);
        width: 100%;
}

.chat-shell .pop-up .settings .main .profilel::-webkit-scrollbar {
        width: 8px;
}

.chat-shell .pop-up .settings .main .profilel::-webkit-scrollbar-thumb {
        background: var(--secondary-background-color-light-mode);
        border-radius: 4px;
}

.chat-shell .pop-up .settings .main .profilel::-webkit-scrollbar-thumb:hover {
        background: var(--tertiary-background-color-light-mode);
}

.chat-shell .pop-up .settings .main .profile .title-tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to right, var(--secondary-background-color-light-mode), transparent);
        padding: 2vh 3vh;
        width: 100%;
        height: fit-content;
        position: relative;
}

.chat-shell .pop-up .settings .main .profile .title-tools::after {
        content: "";
        display: grid;
        place-content: center;
        background-color: var(--quaternary-background-color-light-mode);
        width: 1vh;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
}

.chat-shell .pop-up .settings .main .profile .title-tools .title {
        display: grid;
        place-content: center;
        font-size: var(--primary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
}

.chat-shell .pop-up .settings .main .profile .title-tools .tools {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
}

.chat-shell .pop-up .settings .main .profile .title-tools .tools p {
        display: grid;
        place-content: center;
        border-radius: 50%;
        width: 5.5vh;
        height: 5.5vh;
        transition: background-color 0.15s linear;
        cursor: pointer;
}

.chat-shell .pop-up .settings .main .profile .title-tools .tools p:focus,
.chat-shell .pop-up .settings .main .profile .title-tools .tools p:hover {
        background-color: var(--primary-hover-color-light-mode);
}

.chat-shell .pop-up .settings .main .profile .title-tools .tools p img {
        width: 3.25vh;
}

.chat-shell .pop-up .settings .main .profile .top {
        display: grid;
        gap: 1vh;
        position: relative;
}

.chat-shell .pop-up .settings .main .profile .top .profile-picture {
        justify-self: center;
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border: 4px solid var(--primary-background-color-light-mode);
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
}

.chat-shell .pop-up .settings .main .profile .top .profile-picture img {
        width: 17.5vh;
        height: 17.5vh;
        border-radius: 50%;
        aspect-ratio: 1;
}

.chat-shell .pop-up .settings .main .profile .top .username {
        display: grid;
        place-content: center;
        font-size: var(--primary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
        text-align: center;
}

.chat-shell .pop-up .settings .main .profile .top .status {
        display: grid;
        place-content: center;
        font-size: var(--secondary-font-size);
        color: var(--system-accent-color);
        text-align: center;
}

.chat-shell .pop-up .settings .main .profile .top .mutual-friends-groups {
        display: flex;
        justify-content: center;
        gap: 8vh;
        width: 100%;
}

.chat-shell .pop-up .settings .main .profile .top .mutual-friends-groups div {
        display: grid;
        width: fit-content;
        padding: 0.25vh 0.5vh;
        cursor: pointer;
}

.chat-shell .pop-up .settings .main .profile .top .mutual-friends-groups div .value {
        display: grid;
        font-size: var(--secondary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
        text-align: center;
}

.chat-shell .pop-up .settings .main .profile .top .mutual-friends-groups div .label {
        display: grid;
        font-size: var(--tertiary-font-size);
        color: var(--secondary-font-color-light-mode);
        text-align: center;
}

.chat-shell .pop-up .settings .main .profile .bottom {
        display: grid;
        gap: 2vh;
        padding: 2vh 4vh;
        background-color: var(--secondary-background-color-light-mode);
        border-radius: var(--primary-border-radius);
}

.chat-shell .pop-up .settings .main .profile .bottom .bottom-element {
        display: flex;
        gap: 3vh;
}

.chat-shell .pop-up .settings .main .profile .bottom .bottom-element .icon {
        display: grid;
        place-content: center;
}

.chat-shell .pop-up .settings .main .profile .bottom .bottom-element .icon img {
        width: 3.75vh;
}

.chat-shell .pop-up .settings .main .profile .bottom .bottom-element .details {
        display: grid;
}

.chat-shell .pop-up .settings .main .profile .bottom .bottom-element .details .value {
        display: grid;
        font-size: var(--secondary-font-size);
        color: var(--primary-font-color-light-mode);
        white-space: wrap;
}

.chat-shell .pop-up .settings .main .profile .bottom .bottom-element .details .label {
        display: grid;
        place-content: center start;
        font-size: var(--tertiary-font-size);
        color: var(--secondary-font-color-light-mode);
}