.chat-shell .chat-window .chat-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary-background-color-light-mode);
        border-bottom: 1px solid var(--tertiary-background-color-light-mode);
        height: 12.5vh;
        padding-inline: 2.5vh;
        cursor: pointer;
}

.chat-shell .chat-window .chat-header .mini-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vh;
}

.chat-shell .chat-window .chat-header .mini-profile .image  {
        place-self: center;
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
}

.chat-shell .chat-window .chat-header .mini-profile .image  img {
        width: 8vh;
        height: 8vh;
        border-radius: 50%;
        aspect-ratio: 1;
}

.chat-shell .chat-window .chat-header .mini-profile .details {
        display: grid;
}

.chat-shell .chat-window .chat-header .mini-profile .details .username {
        font-size: var(--primary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
}

.chat-shell .chat-window .chat-header .mini-profile .details .status {
        font-family: var(--primary-font-family);
        font-size: var(--secondary-font-size);
        color: var(--system-accent-color);
        line-height: 1.5;
}

.chat-shell .chat-window .chat-header .tools {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
}

.chat-shell .chat-window .chat-header .tools p {
        display: grid;
        place-content: center;
        border-radius: 50%;
        width: 5.5vh;
        height: 5.5vh;
        transition: background-color 0.15s linear;
        cursor: pointer;
}

.chat-shell .chat-window .chat-header .tools p:focus,
.chat-shell .chat-window .chat-header .tools p:hover {
        background-color: var(--primary-hover-color-light-mode);
}

.chat-shell .chat-window .chat-header .tools p img {
        width: 3.5vh;
}