.chat-shell .side-panel .panel-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-inline: 2.5vh;
}

.chat-shell .side-panel .panel-header .logo {
        display: grid;
        place-content: center;
}

.chat-shell .side-panel .panel-header .logo img {
        height: 5vh;
        width: 100%;
}

.chat-shell .side-panel .panel-header .tools {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
}

.chat-shell .side-panel .panel-header .tools p {
        display: grid;
        place-content: center;
        border-radius: 50%;
        width: 5.5vh;
        height: 5.5vh;
        transition: background-color 0.15s linear;
        cursor: pointer;
}

.chat-shell .side-panel .panel-header .tools p:focus,
.chat-shell .side-panel .panel-header .tools p:hover {
        background-color: var(--primary-hover-color-light-mode);
}

.chat-shell .side-panel .panel-header .tools p img {
        width: 3.25vh;
}