.chat-shell .side-panel .panel-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: aquamarine; */
        padding-inline: 2.5vh;
}

.chat-shell .side-panel .panel-footer .mini-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vh;
}

.chat-shell .side-panel .panel-footer .mini-profile .image  {
        place-self: center;
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
}

.chat-shell .side-panel .panel-footer .mini-profile .image  img {
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        aspect-ratio: 1;
}

.chat-shell .side-panel .panel-footer .mini-profile .details {
        display: grid;
}

.chat-shell .side-panel .panel-footer .mini-profile .details .username {
        font-size: var(--primary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
}

.chat-shell .side-panel .panel-footer .mini-profile .details .status {
        font-size: var(--tertiary-font-size);
        color: var(--system-accent-color);
}

.chat-shell .side-panel .panel-footer .tools {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vh;
}

.chat-shell .side-panel .panel-footer .tools p {
        display: grid;
        place-content: center;
        border-radius: 50%;
        width: 5vh;
        height: 5vh;
        transition: background-color 0.15s linear;
        cursor: pointer;
}

.chat-shell .side-panel .panel-footer .tools p:focus,
.chat-shell .side-panel .panel-footer .tools p:hover {
        background-color: var(--tertiary-hover-color-light-mode);
}

.chat-shell .side-panel .panel-footer .tools p img {
        width: 3vh;
}