.chat-shell .pop-up .search-panel {
        place-self: center;
        display: grid;
        gap: 3vh;
        font-size: var(--secondary-font-size);
        background-color: var(--glassy-background-color-light-mode);
        border: 1px solid var(--tertiary-background-color-light-mode);
        border-radius: var(--primary-border-radius);
        box-shadow: 0 0 5vh var(--background-shadow-color-light-mode);
        width: fit-content;
        max-width: 35vw;
        max-height: 80vh;
        padding-block: 4vh;
        overflow-y: auto;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        position: relative;
}

.chat-shell .pop-up .search-panel::-webkit-scrollbar {
        width: 8px;
}

.chat-shell .pop-up .search-panel::-webkit-scrollbar-thumb {
        background: var(--secondary-background-color-light-mode);
        border-radius: 4px;
}

.chat-shell .pop-up .search-panel::-webkit-scrollbar-thumb:hover {
        background: var(--tertiary-background-color-light-mode);
}

.chat-shell .pop-up .search-panel .title {
        display: grid;
        place-content: center start;
        font-size: var(--quaternary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
        width: 100%;
        padding-inline: 4vh;
}

.chat-shell .pop-up .search-panel .search-bar {
        justify-self: center;
        display: flex;
        align-items: center;
        gap: 1vh;
        background-color: var(--secondary-background-color-light-mode);
        border-radius: 4vh;
        width: calc(100% - 8vh);
        height: fit-content;
        padding: 1.25vh 1.5vh;
}

.chat-shell .pop-up .search-panel .search-bar .icon {
        display: grid;
        place-content: center;
        width: fit-content;
}

.chat-shell .pop-up .search-panel .search-bar .icon img {
        width: 3vh;
}

.chat-shell .pop-up .search-panel .search-bar .input {
        flex-grow: 1;
        display: grid;
}

.chat-shell .pop-up .search-panel .search-bar .input input {
        display: grid;
        align-items: center;
        font-family: var(--primary-font-family);
        font-size: var(--secondary-font-size);
        color: var(--primary-font-color-light-mode);
        background-color: transparent;
        border: none;
        outline: none;
        min-height: 3vh;
        height: 3vh;
        padding-top: calc(2vh - 9px);
}

.chat-shell .chat-window .chat-body .chat-toolbar .input input::placeholder {
        color: var(--secondary-font-color-light-mode);
}

.chat-shell .pop-up .search-panel .close-friends {
        display: grid;
        gap: 2vh;
}

.chat-shell .pop-up .search-panel .close-friends .label {
        display: grid;
        color: var(--secondary-font-color-light-mode);
        background-color: var(--secondary-background-color-light-mode);
        width: 100%;
        padding: 0.5vh 4vh;
        width: 100%;
}

.chat-shell .pop-up .search-panel .close-friends .list {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 2vh;
        padding-inline: 4vh;
        overflow-x: auto;
}

.chat-shell .pop-up .search-panel .close-friends .list::-webkit-scrollbar {
        width: 0;
        height: 0;
}

.chat-shell .pop-up .search-panel .close-friends .list .close-friend {
        display: grid;
        justify-content: center;
        gap: 2vh;
        font-size: var(--tertiary-font-size);
        color: var(--secondary-font-color-light-mode);
        width: fit-content;
}

.chat-shell .pop-up .search-panel .close-friends .list .close-friend .picture {
        justify-self: center;
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
}

.chat-shell .pop-up .search-panel .close-friends .list .close-friend .picture img {
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
}

.chat-shell .pop-up .search-panel .search-action {
        display: grid;
}

.chat-shell .pop-up .search-panel .search-action .label {
        display: grid;
        color: var(--secondary-font-color-light-mode);
        background-color: var(--secondary-background-color-light-mode);
        width: 100%;
        margin-bottom: 2vh;
        padding: 0.5vh 4vh;
}

.chat-shell .pop-up .search-panel .search-action .entity {
        display: flex;
        gap: 2vh;
        width: 100%;
        padding: 2vh 4vh;
        transition: background-color 0.15s linear;
        cursor: pointer;
}

.chat-shell .pop-up .search-panel .search-action .entity:focus,
.chat-shell .pop-up .search-panel .search-action .entity:hover {
        background-color: var(--primary-hover-color-light-mode);
}

.chat-shell .pop-up .search-panel .search-action .entity .picture {
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
}

.chat-shell .pop-up .search-panel .search-action .entity .picture {
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
}

.chat-shell .pop-up .search-panel .search-action .details {
        flex-grow: 1;
        display: flex;
        gap: 2vh;
        justify-content: space-between;
        align-items: center;
}

.chat-shell .pop-up .search-panel .search-action .details .info {
        display: grid;
        gap: 1vh;
}

.chat-shell .pop-up .search-panel .search-action .details .info .name {
        font-weight: var(--primary-font-weight);
}

.chat-shell .pop-up .search-panel .search-action .details .info .extra-info {
        color: var(--secondary-font-color-light-mode);
}

.chat-shell .pop-up .search-panel .search-action .details .action {
        display: grid;
        place-content: center;
        font-size: var(tertiary-font-size);
        color: var(--tertiary-font-color-light-mode);
        background-color: var(--system-accent-color);
        border-radius: 10vh;
        min-width: 3.25vh;
        max-width: fit-content;
        height: 3.25vh;
        padding-inline: 0.75vh;
}

.chat-shell .pop-up .search-panel .search-action .details .action.empty {
        display: none;
}