.chat-shell .info-panel .info-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: fit-content;
}

.chat-shell .info-panel .info-header .title {
        display: grid;
        place-content: center;
        font-size: var(--quaternary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
}

.chat-shell .info-panel .info-header .tools {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
}

.chat-shell .info-panel .info-header .tools p {
        display: grid;
        place-content: center;
        border-radius: 50%;
        width: 5.5vh;
        height: 5.5vh;
        transition: background-color 0.15s linear;
        cursor: pointer;
}

.chat-shell .info-panel .info-header .tools p:focus,
.chat-shell .info-panel .info-header .tools p:hover {
        background-color: var(--primary-hover-color-light-mode);
}

.chat-shell .info-panel .info-header .tools p img {
        width: 3.25vh;
}