.chat-shell .chat-window .chat-body .chat-area {
        align-self: center;
        flex-grow: 1;
        display: grid;
        background: linear-gradient(
                to bottom, 
                transparent 0%, 
                transparent 97.5%, 
                var(--tertiary-background-color-light-mode) 99.75%,
                var(--tertiary-background-color-light-mode) 100%
        );
        width: 100%;
        overflow-y: auto;
}

.chat-shell .chat-window .chat-body .chat-area::-webkit-scrollbar {
        width: 8px;
}

.chat-shell .chat-window .chat-body .chat-area::-webkit-scrollbar-thumb {
        background-color: var(--tertiary-background-color-light-mode);
        border-radius: 4px;
}

.chat-shell .chat-window .chat-body .chat-area::-webkit-scrollbar-thumb:hover {
        background-color: var(--secondary-font-color-light-mode);
}

.chat-shell .chat-window .chat-body .chat-area .wrapper {
        justify-self: center;
        display: grid;
        gap: 2vh;
        width: 80%;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .date {
        justify-self: center;
        display: grid;
        font-size: var(--secondary-font-size);
        color: var(--secondary-font-color-light-mode);
        background-color: var(--primary-background-color-light-mode);
        border-radius: 100vh;
        width: fit-content;
        height: fit-content;
        padding: 0.5vh 3vh;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat {
        display: flex;
        align-items: end;
        gap: 2vh;
        width: fit-content;
        max-width: 65%;
        height: fit-content;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat.you {
        justify-self: end;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat .profile-picture {
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border: none;
        border-radius: 50%;
        opacity: 0;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat.end .profile-picture {
        opacity: 1;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat .profile-picture img {
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        aspect-ratio: 1;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat .message-time {
        display: grid;
        gap: 1vh;
        position: relative;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat .message-time .message {
        display: grid;
        font-size: var(--secondary-font-size);
        color: var(--primary-font-color-light-mode);
        background-color: var(--primary-background-color-light-mode);
        border-radius: var(--primary-border-radius);
        padding: 1vh 2vh;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat.end .message-time .message {
        border-bottom-left-radius: 0;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat.you .message-time .message {
        color: var(--tertiary-font-color-light-mode);
        background-color: var(--system-accent-color);
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat.you.end .message-time .message {
        border-bottom-left-radius: var(--primary-border-radius);
        border-bottom-right-radius: 0;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat .message-time .time-seen {
        display: flex;
        align-items: center;
        gap: 0.5vh;
        font-size: var(--tertiary-font-size);
        color: var(--secondary-font-color-light-mode);
        position: absolute;
        top: calc(100%  + 0.5vh);
        left: 0;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat.you .message-time .time-seen {
        justify-self: end;
        right: 0;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat.you .message-time .time-seen .seen-status {
        display: grid;
        place-content: center;
}

.chat-shell .chat-window .chat-body .chat-area .wrapper .chat.you .message-time .time-seen .seen-status img {
        width: 3vh;
        aspect-ratio: 1;
}