.welcome .contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vh;
        padding-inline: 10vh;
}

.welcome .contacts .image-headlines {
        display: grid;
        place-content: center;
        gap: 2vh;
}

.welcome .contacts .image-headlines .image {
        display: grid;
        place-content: center;
}

.welcome .contacts .image-headlines .image img {
        width: 48vh;
}

.welcome .contacts .image-headlines .headline-link {
        display: grid;
        place-content: center;
        gap: 2vh;
}

.welcome .contacts .image-headlines .headline-link .headline {
        display: grid;
        place-content: center;
        font-size:  var(--system-max-font-size);
        font-weight: var(--secondary-font-weight);
        color: var(--primary-font-color-light-mode);
        text-align: center;
}

.welcome .contacts .image-headlines .headline-link .links {
        place-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:  var(--primary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
}

.welcome .contacts .image-headlines .headline-link .links p {
        display: grid;
        place-content: center;
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
}

.welcome .contacts .image-headlines .headline-link .links p img {
        width: 5vh;
}

.welcome .contacts .form-links {
        display: grid;
        gap: 4vh;
}

.welcome .contacts .form-links form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4vh;
}

.welcome .contacts .form-links form p {
        display: grid;
        align-items: center;
        color: var(--secondary-font-color-light-mode);
        background-color: var(--secondary-background-color-light-mode);
        border-radius: var(--primary-border-radius);
        padding-inline: 2.5vh;
}

.welcome .contacts .form-links form .text {
        grid-column: span 2;
        background-color: transparent;
        border-radius: 0;
        padding: 0;
}

.welcome .contacts .form-links form p input {
        display: grid;
        font-family: var(--primary-font-family);
        color: var(--secondary-font-color-light-mode);
        background-color: var(--secondary-background-color-light-mode);
        border: none;
        outline: none;
        width: 100%;
        padding-block: 1.5vh;
}

.welcome .contacts .form-links form .subject {
        grid-column: span 2;
}

.welcome .contacts .form-links form .message {
        grid-column: span 2;
        height: 30vh;
        padding: 2vh 2.5vh;
}

.welcome .contacts .form-links form p textarea {
        display: grid;
        font-family: var(--primary-font-family);
        color: var(--secondary-font-color-light-mode);
        background-color: var(--secondary-background-color-light-mode);
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        resize: none;
}

.welcome .contacts .form-links form button {
        display: grid;
        place-content: center;
        font-size: var(--primary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--tertiary-font-color-light-mode);
        background-color: var(--system-background-color);
        border: none;
        border-radius: var(--primary-border-radius);
        outline: none;
        padding-block: 2vh;
        opacity: 0.85;
}