.chat-shell .pop-up {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
}

.chat-shell .pop-up.active {
        display: grid;
}