.chat-shell .pop-up .files-shared {
        place-self: center;
        display: grid;
        gap: 2vh;
        font-size: var(--secondary-font-size);
        background-color: var(--glassy-background-color-light-mode);
        border: 1px solid var(--tertiary-background-color-light-mode);
        border-radius: var(--primary-border-radius);
        box-shadow: 0 0 5vh var(--background-shadow-color-light-mode);
        width: 40vw;  
        padding-block: 4vh;
        overflow-y: auto;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        position: relative;
}

.chat-shell .pop-up .files-shared .mini-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        padding-inline: 4vh;
        padding-top: 2vh
}

.chat-shell .pop-up .files-shared .mini-profile .image {
        place-self: center;
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
}

.chat-shell .pop-up .files-shared .mini-profile .image img {
        width: 8vh;
        height: 8vh;
        border-radius: 50%;
        aspect-ratio: 1;
}

.chat-shell .pop-up .files-shared .mini-profile .details {
        display: grid;
        align-items: center;
        gap: 0.5vh;
}

.chat-shell .pop-up .files-shared .mini-profile .details .username {
        font-size: var(--primary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
        height: fit-content;
}

.chat-shell .pop-up .files-shared .mini-profile .details .status {
        font-size: var(--secondary-font-size);
        color: var(--system-accent-color);
        height: fit-content;
}

.chat-shell .pop-up .files-shared .status-bar {
        justify-self: center;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1vh;
        border-bottom: 1px solid var(--tertiary-background-color-light-mode);
        width: calc(100% - 8vh);
        overflow-x: auto;
        position: relative;
}

.chat-shell .pop-up .files-shared .status-bar::-webkit-scrollbar {
        height: 0;
}

.chat-shell .pop-up .files-shared .status-bar .file-labels {
        flex: 0 0 18vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        font-weight: var(--primary-font-weight);
        width: 18vh;
        padding-block: 2vh;
        cursor: pointer;
}

.chat-shell .pop-up .files-shared .status-bar .file-labels .value {
        display: grid;
        place-content: center;
        font-size: var(tertiary-font-size);
        color: var(--secondary-font-color-light-mode);
        background-color: var(--secondary-background-color-light-mode);
        border-radius: 10vh;
        min-width: 3.25vh;
        max-width: fit-content;
        height: 3.25vh;
        padding-inline: 0.8vh;
        transition: background-color 0.15s linear, color 0.15s linear;
}

.chat-shell .pop-up .files-shared .status-bar .file-labels.active .value {
        color: var(--system-accent-color);
        background-color: var(--system-accent-dimmed-color);
}

.chat-shell .pop-up .files-shared .status-bar .file-labels .label {
        display: grid;
        place-content: center;
        font-size: var(--secondary-font-size);
        color: var(--secondary-font-color-light-mode);
        transition: color 0.15s linear;
}

.chat-shell .pop-up .files-shared .status-bar .file-labels.active .label {
        color: var(--system-accent-color);
}

.chat-shell .pop-up .files-shared .status-bar .active-tab-indicator {
        background-color: var(--system-accent-color);
        border-radius: 10vh 10vh 0 0 ;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 18vh;
        height: 0.6vh;
        transition: transform 0.15s linear;
}

.chat-shell .pop-up .files-shared .list {
        display: grid;
        height: 45vh;
        overflow-y: auto;
}

.chat-shell .pop-up .files-shared .list::-webkit-scrollbar {
        width: 8px;
}

.chat-shell .pop-up .files-shared .list::-webkit-scrollbar-thumb {
        background: var(--secondary-background-color-light-mode);
        border-radius: 4px;
}

.chat-shell .pop-up .files-shared .list::-webkit-scrollbar-thumb:hover {
        background: var(--tertiary-background-color-light-mode);
}

.chat-shell .pop-up .files-shared .list .file {
        display: flex;
        gap: 2vh;
        width: 100%;
        padding: 2vh 4vh;
        transition: background-color 0.15s linear;
        cursor: pointer;
}

.chat-shell .pop-up .files-shared .list .file:focus,
.chat-shell .pop-up .files-shared .list .file:hover {
        background-color: var(--primary-hover-color-light-mode);
}

.chat-shell .pop-up .files-shared .list .file .picture {
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
}

.chat-shell .pop-up .files-shared .list .file .picture {
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
}

.chat-shell .pop-up .files-shared .details {
        flex-grow: 1;
        display: flex;
        gap: 2vh;
        justify-content: space-between;
        align-items: center;
}

.chat-shell .pop-up .files-shared .details .info {
        display: grid;
        gap: 1vh;
}

.chat-shell .pop-up .files-shared .details .info .name {
        font-weight: var(--primary-font-weight);
}

.chat-shell .pop-up .files-shared .details .info .extra-info {
        color: var(--secondary-font-color-light-mode);
}

.chat-shell .pop-up .files-shared .details .action {
        display: grid;
        place-content: center;
        font-size: var(tertiary-font-size);
        color: var(--tertiary-font-color-light-mode);
        background-color: var(--system-accent-color);
        border-radius: 10vh;
        min-width: 3.25vh;
        max-width: fit-content;
        height: 3.25vh;
        padding-inline: 0.75vh;
}

.chat-shell .pop-up .files-shared .details .action.empty {
        display: none;
}