.chat-shell .pop-up .entities-status {
        place-self: center;
        display: grid;
        gap: 2vh;
        font-size: var(--secondary-font-size);
        background-color: var(--glassy-background-color-light-mode);
        border: 1px solid var(--tertiary-background-color-light-mode);
        border-radius: var(--primary-border-radius);
        box-shadow: 0 0 5vh var(--background-shadow-color-light-mode);
        width: 30vw;  
        padding-block: 4vh;
        overflow-y: auto;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        position: relative;
}

.chat-shell .pop-up .entities-status .mini-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        padding-inline: 4vh;
        padding-top: 2vh
}

.chat-shell .pop-up .entities-status .mini-profile .image {
        place-self: center;
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
}

.chat-shell .pop-up .entities-status .mini-profile .image img {
        width: 8vh;
        height: 8vh;
        border-radius: 50%;
        aspect-ratio: 1;
}

.chat-shell .pop-up .entities-status .mini-profile .details {
        display: grid;
        align-items: center;
        gap: 0.5vh;
}

.chat-shell .pop-up .entities-status .mini-profile .details .username {
        font-size: var(--primary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
        height: fit-content;
}

.chat-shell .pop-up .entities-status .mini-profile .details .status {
        font-size: var(--secondary-font-size);
        color: var(--system-accent-color);
        height: fit-content;
}

.chat-shell .pop-up .entities-status .status-bar {
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* align-items: center; */
        gap: 2vh;
        border-bottom: 1px solid var(--tertiary-background-color-light-mode);
        width: calc(100% - 8vh);
        position: relative;
}

.chat-shell .pop-up .entities-status .status-bar .entity-labels {
        justify-self: center;
        display: flex;
        align-items: center;
        gap: 1vh;
        font-weight: var(--primary-font-weight);
        width: fit-content;
        padding-block: 2vh;
        cursor: pointer;
}

.chat-shell .pop-up .entities-status .status-bar .entity-labels .value {
        display: grid;
        place-content: center;
        font-size: var(tertiary-font-size);
        color: var(--secondary-font-color-light-mode);
        background-color: var(--secondary-background-color-light-mode);
        border-radius: 10vh;
        min-width: 3.25vh;
        max-width: fit-content;
        height: 3.25vh;
        padding-inline: 0.8vh;
        transition: background-color 0.15s linear, color 0.15s linear;
}

.chat-shell .pop-up .entities-status .status-bar .entity-labels.active .value {
        color: var(--system-accent-color);
        background-color: var(--system-accent-dimmed-color);
}

.chat-shell .pop-up .entities-status .status-bar .entity-labels .label {
        display: grid;
        place-content: center;
        font-size: var(--secondary-font-size);
        color: var(--secondary-font-color-light-mode);
        transition: color 0.15s linear;
}

.chat-shell .pop-up .entities-status .status-bar .entity-labels.active .label {
        color: var(--system-accent-color);
}

.chat-shell .pop-up .entities-status .status-bar .active-tab-indicator {
        background-color: var(--system-accent-color);
        border-radius: 10vh;
        position: absolute;
        left: 0;
        bottom: 0;
        width: calc(33.3% - (4vh  * 0.33));
        height: 0.5vh;
        transition: transform 0.15s linear;
}

.chat-shell .pop-up .entities-status .list {
        display: grid;
        height: 45vh;
        overflow-y: auto;
}

.chat-shell .pop-up .entities-status .list::-webkit-scrollbar {
        width: 8px;
}

.chat-shell .pop-up .entities-status .list::-webkit-scrollbar-thumb {
        background: var(--secondary-background-color-light-mode);
        border-radius: 4px;
}

.chat-shell .pop-up .entities-status .list::-webkit-scrollbar-thumb:hover {
        background: var(--tertiary-background-color-light-mode);
}

.chat-shell .pop-up .entities-status .list .entity {
        display: flex;
        gap: 2vh;
        width: 100%;
        padding: 2vh 4vh;
        transition: background-color 0.15s linear;
        cursor: pointer;
}

.chat-shell .pop-up .entities-status .list .entity:focus,
.chat-shell .pop-up .entities-status .list .entity:hover {
        background-color: var(--primary-hover-color-light-mode);
}

.chat-shell .pop-up .entities-status .list .entity .picture {
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
}

.chat-shell .pop-up .entities-status .list .entity .picture {
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
}

.chat-shell .pop-up .entities-status .details {
        flex-grow: 1;
        display: flex;
        gap: 2vh;
        justify-content: space-between;
        align-items: center;
}

.chat-shell .pop-up .entities-status .details .info {
        display: grid;
        gap: 1vh;
}

.chat-shell .pop-up .entities-status .details .info .name {
        font-weight: var(--primary-font-weight);
}

.chat-shell .pop-up .entities-status .details .info .extra-info {
        color: var(--secondary-font-color-light-mode);
}

.chat-shell .pop-up .entities-status .details .action {
        display: grid;
        place-content: center;
        font-size: var(tertiary-font-size);
        color: var(--tertiary-font-color-light-mode);
        background-color: var(--system-accent-color);
        border-radius: 10vh;
        min-width: 3.25vh;
        max-width: fit-content;
        height: 3.25vh;
        padding-inline: 0.75vh;
}

.chat-shell .pop-up .entities-status .details .action.empty {
        display: none;
}