.chat-shell .pop-up .log-out {
        place-self: center;
        display: grid;
        gap: 2vh;
        font-size: var(--secondary-font-size);
        background-color: var(--glassy-background-color-light-mode);
        border: 1px solid var(--tertiary-background-color-light-mode);
        border-radius: var(--primary-border-radius);
        box-shadow: 0 0 5vh var(--background-shadow-color-light-mode);
        width: fit-content;
        padding: 4vh;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
}

.chat-shell .pop-up .log-out .title {
        display: grid;
        place-content: center;
        font-size: var(--quaternary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
        width: 100%;
}

.chat-shell .pop-up .log-out .notify {
        display: grid;
        place-content: center;
        color: var(--primary-font-color-light-mode);
}

.chat-shell .pop-up .log-out .actions {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2vh;
        width: 100%;
}

.chat-shell .pop-up .log-out .actions p {
        display: grid;
        color: var(--primary-font-color-light-mode);
        border-radius: var(--primary-border-radius);
        width: fit-content;
        padding: 1vh 3vh;
        transition: background-linear 0.15s linear;
        cursor: pointer;
}

.chat-shell .pop-up .log-out .actions .yes {
        background-color: var(--system-accent-color);
        color: var(--tertiary-font-color-light-mode);
}

.chat-shell .pop-up .log-out .actions p:focus,
.chat-shell .pop-up .log-out .actions p:hover {
        background-color: var(--secondary-hover-color-light-mode);
}

.chat-shell .pop-up .log-out .actions .yes:focus,
.chat-shell .pop-up .log-out .actions .yes:hover {
        background-color: var(--system-accent-dark-color);
}