.footer {
  background: white;
  padding: 2rem 3rem;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.footer p {
  color: var(--secondary-font-color-light-mode);
  font-size: var(--secondary-font-size);
}

.footer a {
  color: var(--system-accent-color);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
