.chat-shell .pop-up .social-radar {
        place-self: center;
        display: grid;
        gap: 3vh;
        font-size: var(--secondary-font-size);
        background-color: var(--glassy-background-color-light-mode);
        border: 1px solid var(--tertiary-background-color-light-mode);
        border-radius: var(--primary-border-radius);
        box-shadow: 0 0 5vh var(--background-shadow-color-light-mode);
        width: fit-content;
        max-width: 50vw;
        max-height: 80vh;
        padding-block: 4vh;
        overflow-y: auto;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
}

.chat-shell .pop-up .social-radar::-webkit-scrollbar {
        width: 8px;
}

.chat-shell .pop-up .social-radar::-webkit-scrollbar-thumb {
        background: var(--secondary-background-color-light-mode);
        border-radius: 4px;
}

.chat-shell .pop-up .social-radar::-webkit-scrollbar-thumb:hover {
        background: var(--tertiary-background-color-light-mode);
}

.chat-shell .pop-up .social-radar .title {
        display: grid;
        place-content: center start;
        font-size: var(--quaternary-font-size);
        font-weight: var(--primary-font-weight);
        color: var(--primary-font-color-light-mode);
        width: 100%;
        padding-inline: 4vh;
}

.chat-shell .pop-up .social-radar .radar-action {
        display: grid;
        gap: 2vh;
}

.chat-shell .pop-up .social-radar .radar-action .label {
        display: grid;
        color: var(--secondary-font-color-light-mode);
        background-color: var(--secondary-background-color-light-mode);
        width: 100%;
        padding: 0.5vh 4vh;
}

.chat-shell .pop-up .social-radar .radar-action .entity {
        display: flex;
        gap: 2vh;
        width: 100%;
        padding-inline: 4vh;
}

.chat-shell .pop-up .social-radar .radar-action .entity .picture {
        display: grid;
        place-content: center;
        background-color: var(--tertiary-background-color-light-mode);
        border-radius: 50%;
        width: fit-content;
        height: fit-content;
}

.chat-shell .pop-up .social-radar .radar-action .entity .picture {
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
}

.chat-shell .pop-up .social-radar .radar-action .details {
        flex-grow: 1;
        display: flex;
        gap: 2vh;
        justify-content: space-between;
        align-items: center;
}

.chat-shell .pop-up .social-radar .radar-action .details .info {
        display: grid;
        gap: 1vh;
}

.chat-shell .pop-up .social-radar .radar-action .details .info .name {
        font-weight: var(--primary-font-weight);
}

.chat-shell .pop-up .social-radar .radar-action .details .info .extra-info {
        color: var(--secondary-font-color-light-mode);
}

.chat-shell .pop-up .social-radar .radar-action .details .action {
        display: grid;
        place-content: center;
        color: var(--tertiary-font-color-light-mode);
        background-color: var(--system-accent-color);
        border-radius: 10vh;
        width: fit-content;
        padding: 0.5vh 2.5vh;
        transition: background-linear 0.15s linear;
        cursor: pointer;
}

.chat-shell .pop-up .social-radar .radar-action .action:focus,
.chat-shell .pop-up .social-radar .radar-action .action:hover {
        background-color: var(--system-accent-dark-color);
}