.chat-shell .chat-window .chat-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--secondary-background-color-light-mode);
        height: 87vh;
        padding: 2vh 1vh;
}