.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.about h1 {
  font-size: 2.5rem;
  color: var(--system-accent-color);
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--primary-font-color-light-mode);
  margin-bottom: 1rem;
}
