.chat-shell .chat-window {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        background-color: var(--secondary-background-color-light-mode);
        border: 1px solid var(--tertiary-background-color-light-mode);
}